extends layout

block content
    table.table
        tr
            td Typ
            td=data.getReceiptClass()
        tr
            td Celková cena
            if (data.getAmount() != 125.0)
                td=data.getAmount()
            else
                td NONE
